                <div class="col-md-4 col-sm-6 col-xs-12 blog-bottom">
                    <div class="blog-wrap mb-30">
                        <div class="blog-img">
                            <img src="{{ fields.field_blog_image.content }}" alt="">
                        </div>
                        <div class="blog-content wow fadeInUp">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i> {{ fields.uid.content }}</a></li>
                                    <li><a href="#"><i class="fa fa-comment"></i>{{ fields.comment_count.content}} comments</a></li>
                                    <!-- <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li> -->
                                </ul>
                            </div>
                            <h3><a href="node/{{ fields.nid.content }}">{{ fields.title.content }}</a></h3>
                            <p>{{ fields.body.content }}</p>
                            <a href="node/{{ fields.nid.content }}" class="btn btn-default btn_font_16">{{ fields.field_blog_btn.content }} </a>
                        </div>
                    </div>
                </div>