

<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
   <a href=" {{ fields.view_node_1.content }} "><img src="{{ fields.field_blog_image.content }}"></a>
   <div class="blog-body">
         <h1> {{ fields.title.content }}  </h1>
      {{ fields.body.content }}
      <div class="">
         <div class="button-buttom">  {{ fields.view_node.content }} </div>
      </div>
   </div>
</div>