<section id="banner-user" style="background-image:url({{ file_url(content.field_about_bg_image['#items'].entity.uri.value) }}) !important; background-repeat: no-repeat;background-size: cover; height:500px;">
</section>