
/*----------------------------------------------------
@File: Default Styles
@Author: NavThemes
@URL:https://www.navthemes.com
@Version: Star Law Firm .01

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.



This files contents are outlined below.
  


 0. General Style
 *. Buttons
 *. Headings
 *. Subtitle
 *. Top header

 =>Start index page style_css
 *. banner area 
 *. ABOUT US
 *. our services area
 *. our services tow
 *. testimonial area
 *. footer area
 *. our partners area
 =>End index page style css

 *. Edit css
 
=>start about page style css
*. service area start 
*. testimonial area start
*. Our Team area start
=>End about page style css

=>SERVICES page css start
*. service right img area start
*. service left img tabs area start
*. service text area start
=>SERVICES page css End


=>contact page css Start
*. section heading left Start*.
*. contact form start
=>contact page css End

=>blog page css Start
*. blog-three images one start
*. blog-three images to start
*. pagination-wrap start
=>blog page css End

=>blog single page css Start
*. blog-single-left img start
*. commingsoon-area start
*. contact-area start
*. sidebar-style-here
=>blog single page css End

 *. media query in css-Responsive start
 *. (mxn-width: 1024px)  media query 
 *. (min-width: 768px)  media query 
 *. (min-width: 1023px) media query
 *. (max-width: 768px)  media query 
 *. (max-width: 480px)  media query 
 *. (max-width: 320px)   media query
 *.media query in css-Responsive End

/*--------------------------------------------------*/

----------------------------------------------------*/
/*--------------------------------------------------*/
/*Color Variables*/
::selection {
    background-color:#99a9bb;
    color: #FFF
}

/*----------------------------------
   1.Start button
------------------------------------*/
.btn{
padding: 18px 40px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px;
      display: inline-block;
    border: 0;
     text-transform: uppercase;
     text-decoration: none !important;

}

.btn-default {
   background: #4a53dd !important;
    color: #fff !important;
    border-radius: 5px;
}

.btn-default:hover {
    color: #fff !important;
    background:#ffa800 !important; 
   
}

.btn-primary {
   background: #ffa800 !important;
    color: #fff !important;
    border-radius: 5px;
  }
   
.btn-primary:hover{
    color: #fff !important;
    border-radius:5px;
    background:#4a53dd !important;
}
.radius-50{
  border-radius: 5px !important;
  padding: 12px 40px !important;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
    transition: all 300ms linear 0s;
}


a {
      color: #fff !important;
    text-decoration: none !important;
}

/*----------------------------------
   End button
------------------------------------*/

/*----------------------------------
   2. Headings
------------------------------------*/

/* Section Title*/
.title {
  text-align: center;
  text-transform: uppercase;
}
.title h2  {
    font-size: 30px;
    color: #99a9bb;
 
    font-weight: 550;
    text-transform: capitalize;
}
.pt_banner_30{
  padding-top: 35px !important
}


.title h4 {

  color: #555555;
  padding-top: 55px;
}
.subtitle h2 {

  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}





/*----------------------------------
   4.Prefix Styles
------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0px;
}

.p0 {
  padding:0px;
}

body {
 font-family: 'Open Sans', sans-serif;
  /*Section Fix*/
}

body p {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  color: #555555;
  font-size: 16px;
  margin: 0;
}
body section.row, body header.row, body footer.row {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding:0 !important;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  transition: all 300ms linear 0s;
}
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms linear 0s;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
blockquote, q {
    position: relative;
    padding: 4rem 3rem 3rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.88;
    border: 1px double rgba(0,0,0,.1);
    margin: 6rem 0;
    display: block;
}
thead, th, td {
    border: 1px solid black;
    padding: 10px;
}
ul li {
    line-height: 30px;
}
ol li {
    line-height: 30px;
}
strong {
    font-weight: 600;
    line-height: 35px;
}
tbody a{
  color:#337ab7 !important;
}
dd, dt {
    line-height: 2.428571;
    }
img{
  object-fit:cover;
    -o-object-fit:cover;
}    
   
/*--------------------------------------------------*/


/* Header Aera */


.header_aera {
  background:no-repeat !important;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 70px 0px;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 100;
 
}

.header_aera .show {
  height: 80px;
  border-bottom: 1px solid transparent;
}
.header_aera .navbar-header .navbar-brand {
  padding-top:0px !important;
  text-transform:uppercase;
}
.header_aera .navbar-header .navbar-brand img {
  max-width: 100%;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a {
  
    text-transform: uppercase;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;

}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
  color: #f6b60b;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
  width: 100px;
  background: #f6b60b;
  color: #fff;
  padding: 0;
  text-align: center;
  margin-left: 15px;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus {
  color: #222222;
}


.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li {
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a {
  line-height: normal;
  padding: 12px 8px;
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #222222;
  position: absolute;
  top: 0px;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: all 800ms ease-in-out;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  background: #222222;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: all 800ms ease-in-out;
}
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul {
    transform: rotateX(0deg);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before {
    transform: scaleX(1);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after {
    transform: scaleX(1);
  }
}

/* End Header Aera */
/* End header area 2 */
.header_aera_tow {
  background-color: transparent;
  position: relative;
  box-shadow: none;
}
.header_aera_tow .navbar_right_fulid {
  background: #fff;
  height: 100px;
  padding-left: 20px;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100px;
  background: #fff;
  width: 30%;
  z-index: -1;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid ul.nav.navbar-nav.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* header area 2 */
/*--------------------------------------------------*/



/*start banner area 1*/
/*--------------------------------------------------*/
.title-left h1{
    font-size: 35px;
    font-weight: 700;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}
  
.bg-banner-img{
 
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg_free_img{
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-banner-img{
  background: rgba(255,255,255,0);
        background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.service-banner-img{
  background: rgba(255,255,255,0);
    /*background-image: url(../images/service-banner-img.jpg);*/
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.mb-90{
  padding-bottom:140px;

}
.PB_100{
  padding-bottom: 130PX;
}
.py-90{
  padding: 90px 0px;
}
.color-gray{
  color:#dedede;
}
.pb_0{
  padding-bottom: 0px !important;
}



.ovrllay{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background-image: linear-gradient(to right ,#0a0d16c9,#0a0d16b8,#0a0d16b8,#2211078a,#221107ab)!important;

}
.ovrllay-bottom {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background: #000000cf;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.shap_top{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}
.all-text {
    padding: 108px 50px;
}
.shap_bottom{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.left-borders {
    border-left: 5px solid #6871f4;
    padding-left: 30px;
}
.banner-text{
   text-align: left;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
}
.py-70{
  padding: 70px 0px;
}
.mb-60{
  margin-bottom: 60px;
}



.Attorneys li h1{
    font-size: 20px;
    color: #1c233b;
    font-weight: 600;
    text-transform: uppercase;
}
.Attorneys li{
float: left;
width: 70%;
}
.Attorney li{
float: left;
width:30%;
}
.Attorneys li p{
    font-size: 18px;
    color: #a6acb7;
    line-height: 30px;
        padding-bottom: 30px; 
}

/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {

    display: table-header-group;
}
.divTableCell, .divTableHead {
   display: table-cell;
    vertical-align: middle;
}
.divTableHeading {
 
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
/*End banner area 1*/
/*--------------------------------------------------*/

/*start servise area */
/*--------------------------------------------------*/
.servise-top{
    text-align: center;
    visibility: visible;
    animation-name: fadeInUp;
    line-height: 80px;
    margin-bottom: 20px;
}
.unify{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    line-height: 35px;
    color: #1d233b;
}
.bottom-s{
    font-size: 16px;
    line-height:1.7em;
    color: #97a6b9;
    margin-bottom:30px;
}
.button-div{
  margin-top: 20px;
}
.button-s:after {
    content: '→';
    position: absolute;
    margin-left: 5px;
    font-family: 'IntercomText', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: transform 0.3s;
    margin-top: 2px;
    transition-duration: 1s;
}
.button-s:hover:after{
  margin-left: 15px;
  transition-duration:1s;
}
.button-s{
    font-size: 16px;
    color: #1d233b !important;
    font-weight: 600;
    display: block;
    letter-spacing: 0.15px;
    transition-duration: 1s;
}

.service-1{
    padding: 30px 15px 30px 20px;
    background: #fff;
    transition-duration: 1s;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.service-s{
      box-shadow: 0px 4px 30px #d8d8d899;
    padding: 30px 15px 30px 20px;
    background: #fff;
    transition-duration: 1s;
    text-align: center;
    margin-bottom: 60px;
}
.service-s:hover{

 box-shadow: 0px 10px 50px #d8d8d8d1; 
}
.Practice{
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    margin: 10px 0;
    text-transform: capitalize;
    line-height: 35px;
    color: #1d233b;
}
.button-buttom{
    font-size: 16px;
    color: #6871f4 !important;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.15px;
    transition-duration: 1s;
}

.service-1:hover{
  background:#010313; 

  -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.service-1:hover .button-s{
  color:#fff !important;
}

.service-1:hover .unify{color: #fff !important;}
.service-1:hover:after {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    transition: all 0.3s ease 0.0s;
}
.service-1.green-after:after {
    background-color: #da9be1;
}
.service-1.pink-after:after {
    background-color: #ffb062;
}
.service-1.purple-after:after {
    background-color: #e75b93;
}

.service-1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    transition: all 0.3s ease 0.0s;
}





.c_yellow{
  color: #ffa800 !important;
}
.btn_yellow{
  background: #ffa800 !important;
}
.contact-map{
        box-shadow: 0px 6px 21px -5px #d3d3d3;
   background:#edf6fb;
    border-radius: 10px;
    transition-duration: 1s;
    float: left;
}
.section-heading.left {
    margin-bottom: 30px;
    text-align: left;
}
.section-heading h4 {
    font-size: 30px;
    line-height: normal;
        position: relative;
        padding-bottom: 20px;
}
.btn-free {
  margin: 60px 0px;
}
.section-heading h4:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #504cf5;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0px;

}
.top-contact{
  margin-top:20px;
}

.contact-info-section h4 {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: normal;
}
.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section {
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.contact-info-section h4 {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: normal;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
    padding-left: 0px !important;
}
.list-style-1 li {
    padding: 5px 0;
}
.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section i {
    width: 25px;
    height: 25px;
    padding-top: 7px;
    border-radius: 50%;
    background: #47588f;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
    line-height: 11px;
}
strong {
    font-weight: 600;
}
.list-style-2 {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-style-2 li {
    position: relative;
    padding: 0 0 0 12px;
    margin: 0 0 9px 0;
}
.list-style-2 li:before {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #232323;
    position: absolute;
    top: 12px;
    left: 0;
}
input,
select {
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
    resize: none;
    height: 50px;
}
textarea{
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
    resize: none;
    height: 200px;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
input[type="submit"] {
    -webkit-appearance: none;
    outline: none

}

input:focus,
textarea:focus {
    border-color: #585858;
    outline: none
}

input[type="button"]:focus {
    outline: none
}

select::-ms-expand {
    display: none
}

iframe {
    border: 0
}
.padding-30px-left {
    padding-left: 30px;
}
.list-style-1 li {
    padding: 5px 0;
    list-style-type: none;
}

.map_top_h{
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #364167;
    padding-top: 80px;
    padding-bottom: 100px;
}
.service-1:hover{
    box-shadow: 0 1px 1px 0 rgba(90,122,190,0.1), 0 10px 20px 0 rgba(90,122,190,0.2);

    transition-duration: 1s;
}
.about_row{
  margin-top:100px;
}
.mb_150{
  margin-bottom: 100px; 
}
.font_30{
  font-size: 30px;
  font-weight: 600;
}
.my_20{
  display: none;
}

.p-0{
  padding-left: 0px !important;
}
.pt-0{
  padding-top: 0px !important;
}
.pb-0{
  padding-bottom: 0px !important;
}

.about_h{     font-size: 25px;     color: #90a0b4;     font-weight: 540;
margin: 30px 0px; } 

.about_s2 {
  text-align: left;
    font-size: 25px;
    color: #90a0b4;
    line-height: 40px;
    font-weight: 400;
    margin: 30px 0px;
}

.about_bottom_h{font-size: 20px;     line-height:
35px;color: #90a0b4; padding-right: 15px; 
    text-transform: capitalize;

}
.mt-50{
  margin-top: 50px;
} 
 .my_0{margin:0px !important}

.mr-0{
  margin-right: 0px;
}
.pl-40{
  padding-left: 40px !important;
}
.py-40{
  padding:0px 30px ;
}
.pr-0{
  padding-right: 0px !important;
}




.bg_color{
    background: #9999ff;
}
.bg_color2{
    background: #a3a3ff;
}
.bg_color3{
    background: #b7b7ff;
}


.Solid-Law{

 padding: 30px 10px 40px 60px; 
}

.Solid-Law h1{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom:35px;


}
.Solid-Law p {
    font-size: 20px;
    line-height:30px;
    color: #fff;
    margin-bottom: 25px;
}

.Solid-Law a{
    font-size: 20px;
    font-weight: 600;
}

 /*End servise area */


/*--------------------------------------------------*/
/*----------------------------------   


 

/*------------------------------------
.start about_area
------------------------------------*/
.title-lefts h1{
    font-size: 50px;
    font-weight: 900;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}



.bg_gray{
    background: #f4f4fb !important;
    background-image: linear-gradient(to right bottom,#f4f4fb,#f4f4fb,#f4f4fb,#f4f4fb,#f4f4fb)!important;
}

.title-lefts .bottom_h{
    font-size: 20px;
    line-height: 35px;
    color: #37456D;
    margin: 25px 0px;
}
.about-s{
    font-size: 25px;
    color: #37456c;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top:55px;
}
.c_f{
  color: #fff !important;
}
.about-bottom-s{
    font-size: 20px;
    color: #a6acb7;
    line-height: 35px;
   margin:40px 0px;
    font-weight: 500;
    text-transform: capitalize;
}

.bg_blue_img {
    background-color: #01020b !important;
    
}
.hed_img{
    margin: 30px 0px;
}
.button_about_shadow{
 box-shadow: -1px 5px 10px #888 !important;
}


.about_top-100{
  margin-top: 120px;
}
.contact_bottom_r{
    font-size: 30px;
    color: #3b4a6b;
    font-weight: 540;
   margin-bottom: 30px;
}
label{
    font-size: 16px;
    color: #98a4b2;
    font-weight: 400;
    margin: 10px 0px;
}

.right_icone li {
    list-style: none;
    background: url(../images/right.png) 0 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 18px;
    color: #fff;
    line-height:40px;
    text-transform: capitalize;
}

.services-right{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 25px;
}

.services-right-text{
    font-size: 22px;
    line-height: 45px;
    color: #90a0b4;
    padding-right: 0px;
    text-transform: capitalize;
}

.owl-dots{
  display: none !important;
}
  
.title h1{
    font-size: 35px;
    font-weight: 600;
    color: #364167;
    line-height: 50px;
    text-transform: capitalize;
}
.title p {
    font-size: 18px;
    line-height: 30px;
    color: #a6acb7;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 25px;
}

.text-left{
  text-align: left !important;
}


.service_banner{
    padding: 30px 15px 40px 20px;
    background: #fff;
    transition-duration: 1s;
    text-align: left;
       box-shadow: 0px 4px 30px #cccccc78;
        border-top-left-radius: 5px;
            border-top-right-radius: 5px;
}

.service_banner h2{
    font-weight: 650;
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    text-transform: capitalize;
    line-height: 35px;
    color: #1d233b;
}
.service_banner p{
    color: #a6acb7;
    font-size: 18px;
    padding-top: 20px;
}

.service_banner
{line-height: 80px;
    margin-bottom:45px;}
    .top_service{
    position: relative;
    bottom: 55px;
}

.service_banner.green-after:after {
  background-color: #da9be1;
}
.service_banner:after {
    content: "";
    position: absolute;
    width: 100%;
    height:8px;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
 
    transition: all 0.3s ease 0.0s;
}
.service_banner:hover:after {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    transition: all 0.3s ease 0.0s;
}
.service_banner:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.service_banner.pink-after:after {
    background-color:#ffb062;
}
.service_banner.purple-after:after {
    background-color: #e75b93;
}
               
.border_img{
    border: 10px solid #eff0f6;
}
.bg_Consultation{
  background:#141211;
}
.c_brown{color:#615631 !important;}


.Lawyers_one{
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
.Lawyers_to{
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.Lawyers_tree{
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner_text h1 {
    font-size:20px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    text-transform: capitalize;
}
.inner_text{
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 60PX;
}
.inner_text h1::before { 
    content: url(../images/after_img.png);
        position: relative;
    top: -3px;

}
.bottom_service{
  position: relative;
  top:90px !important;
}
.pt-70{padding-top: 70px;}
.bg_tree{
    background: #1e1a4c !important;
}
/*------------------------------------
.End about_area
------------------------------------*/

/*------------------------------------
.History Us area start 
------------------------------------*/
   
 
 /* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .mt_150{margin-top: 150px;}
 .timeline {
    list-style: none;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #ffb062;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border-radius: 5px;
    position: relative;
}

.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffb062 !important;
}

  
.timeline-footer {
    padding:20px;
    background-color:#222321;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top:0px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
.mt_560{
  margin-top:188px;
}

.timeline-footer h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
}
.timeline-footer p{
    font-size: 18px;
    color: #a6acb7;
    line-height: 35px;
    font-weight: 500;
    text-transform: capitalize;

}

.img_top{
    position: absolute;
    top: 28px;
    right: 5px;
    color: #080a15;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.img_left{
    position: absolute;
    top: 28px;
  
      color: #080a15;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.mt-100{margin-top:100px;}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
    .row.mt-100 .timeline .mt-50 {
     margin-top: 50px !important; 
}
  }


/*------------------------------------
.History Us area End 
------------------------------------*/




@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }

}

/*End Table   */







/*----------------------------------
   12.our_achievments_area
------------------------------------*/



/*--------------------------------------------------*/

/*----------------------------------
   13.testimonial_area
------------------------------------*/
/* Testimonial Area start */


.bg_testimonial_img { 
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.testimonial_area {
  padding-bottom: 90px;
}
.testimonial_area .testimonial_carosel {
  padding-top: 60px;
}

.testimonial_area .testimonial_carosel .item .media .media-left {
  padding-right: 30px;
}

.testimonial_area .testimonial_carosel .item .media .media-body {
  padding-top: 40px;
}

.testimonial_area .testimonial_carosel .item .media .media-body h6 {
  
  color: #555555;
  padding-top: 5px;
}
.body-slider{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: left;
}
.media{
    width: 80px;
    float: left;
    height: 170px;
}
.testimonial_area .testimonial_carosel .item p  {
    color: #cbcfd4;
    max-width: 945px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    padding-bottom:60px;
}
.testimonial_top{
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin-top: 50px;
}






/* End Testimonial Area */





/*----------------------------------
   14.our_partners_area
------------------------------------*/
/* Our Partners Area start */
.bg-parthners{background:#f8f8f8;}
.email_color_site{
  color:#999 !important; 
}

.our_partners_area .book_now_aera {
  
  padding: 50px 0;
}
.our_partners_area .book_now_aera .book_now .booking_text {
  padding-top: 8px;
}
.our_partners_area .book_now_aera .book_now .booking_text h4 {
 
  color: #364167;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;

}
.our_partners_area .book_now_aera .book_now .booking_text p {
    color: #a6acb7;
    font-size: 16px;
    padding-top: 20px;
}




/* End Our Partners Area */
/*----------------------------------
   14.our_modal_area
------------------------------------*/

.py-200{
 padding: 201px 0px !important;
    padding-bottom: 328px !important;
}
.py-45{
  padding: 40px 0px !important;
}
.py_map_40{
  padding-top: 40px;
  padding-bottom: 0px !important;
}



/*------------------------------------
14.End-modal area
------------------------------------*/

/*------------------------------------
19.Edit-css
------------------------------------*/

/*Edit-css start*/
.top-button {
    margin-top: 10px;
}
.button-n,
a {
    text-decoration: none!important;
    color:#fff !important;
}

.header_aera .navbar-header .navbar-brand{
  padding-top:0px !important;
}
.py-30{
  padding:20px 0px;
}
.tr{
text-align: right;
}
.logo-biss{
  
    color: #fff !important;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;

}


.what_we_area {
    
    background: #f2e9df !important;
    background-image: linear-gradient(to right bottom, #f2e9df, #c6dae1, #c6dae1, #f2e9df, #f2e9df) !important;
}
section{
  padding: 70px 0px;
}

.main-h{
    font-size: 45px;
    line-height:1.3;
    color: #fff;
    text-align: left;
    font-weight: 600;
    margin-top:-10px;
    margin-bottom: 60px;
    text-transform: capitalize;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    visibility: visible;
    
}

.main-about_h{
    font-size: 45px;
    line-height:1.3;
    color: #fff;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    visibility: visible;
    
}
.main-h2{
    font-size: 24px;
  visibility: visible;
    animation-name:fadeInUp;
    font-weight: normal;
    margin-bottom: 30px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    visibility: visible;
    animation-name:fadeInUp;
  }
  .main-h3{
visibility: visible;
    animation-name:fadeInUp;
  }

  .slider_area .slider_inner .camera_caption div a {
    font: 700 18px/59px "Roboto", sans-serif;
    width: 180px;
    text-align: center;
    background: #f6b60b;
    display: block;
    text-shadow: none;
    margin: 0 auto;
    outline: none !important;
    box-shadow: none;
    border: 0;
    color: #222222;
    position: relative;
    z-index: 2;
    padding: 0;
}

.top-banner {
    margin-top: 40px;
}
.mt-120{
 padding: 60px 0px 30px 75px;
}


.professional_builder .builder_all .builder i {
   
    color: #9eccfd !important;
  
}

.pb-90{
padding-bottom: 90px;

}

.our_footer_area{
  background-image: url(../images/footer-img.jpg);
    padding-top:70px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.footer-logo{
    max-width: 100%;
    text-align: left;
    height: 100px;
}
.footer-h{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-top: 25px;
}
.footer-top{
    font-size: 25px;
    color: #fff;
    font-weight: 600;

     margin-bottom: 20px;
}
.footer-menu{
  padding:0px;
  margin:0px;
}
.footer-left-h{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
   
}
.node__content{
  margin-top: 0 !important;
}

.footer-menu li{
    font-size: 18px;
    list-style-type: none;
    line-height: 40px;
    color: #fff;
}
.location li {
    font-size: 20px;
    list-style-type: none;
    line-height: 30px;
    color: #fff;
    margin-bottom: 25px;
    width: 100%;
}
.location_map li {
    font-size: 20px;
    list-style-type: none;
    line-height: 35px;
    color: #3b4a6b;
    margin-bottom: 25px;
}
.location_map{

  margin:0px;
}
.location li i {
    margin-right:10px;
}
.location_map li i {
    margin-right:10px;
}
.location_map li a {
    margin-right:10px;
    color:#3b4a6b !important;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
    background: #172635;
    padding: 10px;
        width: 50px;
    text-align: center;

 }
 .maps{
  margin-bottom:0px;
 }
#contatti a{
  color: #fff;
  text-decoration: none;
}
.nav.primary.nav-tabs a{
  color:#000 !important;
}
[aria-label=pagination-heading]{
  text-align: center;
  margin-bottom: 50px;
}
.pagination>li>a, .pagination>li>span{
  color:#000 !important;
}
.pagination .page-item.active span{
  color:#fff !important;
}
.blog-area.ptb-140.bg-1{
  padding-bottom: 0;
}
.contact-form-box .form-control {
  height: 56px;
}


 .hero__player{
  height: 450px !important;
 }
iframe{
    width: 100%;
    height:550px;
  }
@media (max-width: 575.98px) {

  
  #contatti .maps iframe{
    width: 100%;
    height: 550px;
  }
 }


@media (min-width: 576px) {

 

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

 

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {


   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


.comment-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #0c487b;
    padding: 30px 20px;
}
.comment-theme{
  float:left;
}
.comment-main-area{
  margin-left:115px;
}
.comment-wrap1 {
    margin-left: 20px;
}
.comment-wrap2{
    margin-left:40px;
}
.sewl-comments-meta h4{
  margin-top: 2.2em;
  text-transform:capitalize;
  font-weight:500;
  font-size: 20px;
}
.comment-area p{
    margin-bottom: 5px;
    color: #000c17;
}

.sewl-comments-meta h4 span {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    font-style: normal;
}

.comment-image img {
    border-radius: 50%;
    height: 100px;
}




.sewl-form-inputs textarea,.sewl-form-inputs input{
  height:38px;
  width:100%;
      font-size: 16px;
  padding-left:20px;
  margin-bottom:25px;
      border: 1px solid #98a4b2;
   color:#98a4b2; 
    border-radius: 5px;
}
.sewl-form-inputs textarea:focus,.sewl-form-inputs input:focus{
  outline:none;
}
.sewl-form-inputs textarea{
  height:150px;
  padding-top:10px;
  margin-bottom: 40px;
  margin-top: 25px;
}
.mt-30{
  margin-bottom:10px;
}
.mr-15{
  margin-left: 15px;
}
.mb_20{
  margin-bottom: 20px;
}

.form-submit  input:hover{
  background:#0552b1;
  border-color:#0552b1;
}
.sewl-form-inputs {

}


.pb-50{
  padding-bottom: 50px;
}
.form-c{
    display: block;
    height: 6rem;
    padding: 1.5rem 2.4rem;
    border: 0;
    outline: none;
    color: #151515;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*close*/
/*--------------------------------------------------*/

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #fff;
     background:#6190ec; 
 }
 #social-tw:hover {
     color: #fff;
     background: #4fd7dc ;
 }

 #social-em:hover {
     color: #fff;
     background: #e06bea;
 }
.bigpixi-footer-social{
  margin-top:50px;
}
/*End Edit-css*/
/*--------------------------------------------------*/


/*------------------18. blog-area start --------------------*/

.blog-img{
  position:relative;
  z-index:99;
  overflow:hidden;
}
.blog-img:before,.blog-img:after{
  position:absolute;
  top:0;
  width:0;
  height:100%;
  background:#000;
  content:"";
  transition:all .5s;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  opacity:.5;
}
.blog-img:before{
  left:0;
}
.blog-wrap:hover .blog-img:before{
  width:50%;
}
.blog-img:after{
  right:0;
}
.blog-wrap:hover .blog-img:after{
  width:50%;
}
.blog-meta{
  margin-bottom:10px;
}
.blog-meta ul li{
  display:inline-block;
  margin-right:10px;
}
.blog-meta ul li a{
  color:#555 !important;
}
.blog-meta ul li a:hover{
  color:#296dc1;
}
.blog-meta ul li a i{
  margin-right:3px;
}
.blog-content{
  position:relative;
  padding:20px 20px 30px;
  border-bottom:2px solid #c3c3c3;
}
.blog-content:before,.blog-content:after{
  position:absolute;
  left:0;
  bottom:-2px;
  width:10%;
  height:2px;
  background: #296dc1;
  content:"";
  transition:all .5s;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  opacity:.7;
}
.blog-wrap:hover .blog-content:before,.blog-wrap:hover .blog-content:after{
  width:50%;
}
.blog-content:after{
  left:auto;
  right:0;
}
.blog-content h3{
  margin-bottom:15px;
}
.blog-content h3 a{
  font-size:20px;
  text-transform:capitalize;
  color:#555!important; 
}
.blog-content p{
  margin-bottom:20px;
  line-height:24px;
}
.blog-content a.btn-style{
  border:1px solid #296dc1;
}

.blog-img img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.blog-body h1 a{
    font-size: 20px;
    color: #1c233b !important;
    font-weight: 700;
    margin:40px 0px;
}
.blog-body p{
    font-size:20px;
    color: #a6acb7;
    line-height: 30px;
    padding-bottom: 30px;
}

.blog-body {
    padding: 10px;
    box-shadow: 0px 4px 30px #dadadaad;
    padding-bottom: 25px;
}
/*------------------18. blog-area end --------------------*/
/*--------------------pagination-wrap start--------------*/
.pricing-page-area{
  padding-top:220px;
}
.pagination-wrap ul{
    margin-top:70px;
    display: flex;
    justify-content: center;
}
.pagination-wrap ul li a{
    height: 45px;
    width: 45px;
    line-height: 45px;
    display: block;
    border: 1px solid #4a53dd;
    text-align: center;
    margin-left: -1px;
    color:#333 !important;
    font-size: 18px;
}
.pagination-wrap ul li a:hover,.pagination-wrap ul li.active a{
    background: #4a53dd;
    color: #fff !important;
}
.blog-img img{
    width: 100%;
}
.btn_font_16{
  font-size: 16px;
  text-transform:capitalize;
  padding: 12px 25px;
}


.team-content{
    background:#000000c9;
    padding: 20px;
    text-align: center;
  position: relative;
    bottom: 180px;
    z-index: 100;
}
.box-radius{border-radius:5px; padding:15px;
  height: 400px;
}
.team-content h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin:15px 0px;
}
.team-content p {
  margin:15px 0px;
  font-size: 20px;
  color: #ffa800;
  font-weight: 500;
}

.bg_gradient_team{
    background: #fbf3ee !important;
    background-image: linear-gradient(to right bottom,#fbf3ee,#fbf3ee,#fbf3ee,#f4f7f8,#f4f7f8)!important;
}
.PT-90{
  padding-top: 90PX;
}
.mb_160{
    margin-bottom: 160px;
}
/*--------------------pagination-wrap end--------------*/


/*============================================
            19.blog-details-area start
=============================================*/
.blog-details-img{
    margin-bottom: 40px;
}
.blog-details-content h3{
    margin-bottom: 20px;
}
.blog-details-content p{
    margin-bottom: 25px;
}
.blog-details-content blockquote{
    font-size: 16px;
    font-style: italic;
        background: rgb(39, 40, 156);
    padding: 30px;
    border-left: 5px solid rgb(186, 85, 187);
    margin:35px 0px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.blog-details-content ul{
    margin-bottom: 30px;
}
.blog-details-content ul li{
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}
.blog-details-content ul li::before,.blog-details-content ul li::after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2e7ffe;
    content: "";
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 99;
}
.blog-details-content ul li::after{
    height: 10px;
    width: 10px;
    background: #2e7ffe;
    z-index: 9;
    left: -2px;
}
ol{
  list-style:none;
}
.comment-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    padding: 30px 20px;
}
.comment-theme{
  float:left;
}

.comment-wrap1 {
    margin-left: 20px;
}
.comment-wrap2{
    margin-left:40px;
}
.sewl-comments-meta h4{
  text-transform:capitalize;
  font-weight:500;
  margin-top: 0px;
}
.sewl-comments-meta h4 span {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    font-style: italic;
}
.comment-main{
  margin-bottom:50px;
}
.comment-image img {
    border-radius: 50%;
}
.comment-area p{
    margin-bottom: 5px;
}
.comments-reply a.comment-reply-link{
    font-style: italic;
}
h3.blog-title {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
}


.sewl-form-inputs textarea,.sewl-form-inputs input{
  height:50px;
  width:100%;
  border:1px solid #f1f1f1;
  padding-left:20px;
  margin-bottom:20px;
}
.sewl-form-inputs textarea:focus,.sewl-form-inputs input:focus{
  outline:1px solid #296dc1;
}
.sewl-form-inputs textarea{
  height:150px;
  padding-top:10px;
}
.form-submit  input{
  text-transform:uppercase;
  background:#296dc1;
  color:#fff;
  width: auto;
  padding: 10px 25px;
}
.form-submit  input:hover{
  background:#0552b1;
  border-color:#0552b1;
}
/*----------------commingsoon-area start------------------*/
.comming-soon-area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming-soon-wrap h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.comming-soon-wrap p{
  font-size: 16px;
  margin-bottom: 30px;
}
.timer span.cdown {
    display: block;
    float: left;
    width: 24%;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    background: #296dc1;
    justify-content: center;
    color: #fff;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    margin-left: 10px;
}
.timer span.cdown:first-child{
  margin-left: 0px;
}
.timer span.time-count {
    font-size: 40px;
  margin: 0px auto;
    margin-bottom: 10px;
    display: block;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  padding-bottom: 10px;
  width: 100px;
  position: relative;
}
.timer span.time-count::before,.timer span.time-count::after{
  position: absolute;
  left: 25px;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: #fff;
  content: "";
}
.timer span.time-count::after{
  left: 30px;
  bottom: -2px;
}
.timer span.cdown p{
  color: #fff;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  font-size: 18px;
}
.search-sidebar input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
    background: #296dc1;
    border: 1px solid #296dc1;
}

/*----------------contact-area start------------------*/

.contact-wrap textarea{
  height: 200px;
}
.contact-wrap button{
  border: 1px solid #999;
  padding: 10px 30px;
}
.contact-wrap ul li{
  padding: 30px 30px;
  background: #296dc1;
  color: #fff;
  position: relative;
  padding-left: 90px;
}
.contact-wrap ul li:nth-child(odd){
  background:#0552b1;
}
.contact-wrap ul li p{
  color: #fff;
}
.contact-wrap ul li i{
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size: 35px;
}
.contact-wrap h3{
  text-transform: uppercase;
  margin-bottom: 30px;
}
#googleMap{
  height: 500px;
  width: 100%;
  background: #296dc1;
  margin-top: 100px;
}

/*----------------contact-area End------------------*/

/*-----------------------20.sidebar-style-here-----------------------*/
.search-sidebar form{
    position: relative;
}
.search-sidebar input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button{
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
    background: #2e7ffe;
    border: 1px solid #2e7ffe;
}
.search-sidebar button:hover{
    background: #0552b1;
    border-color: #0552b1;
}
.sidebar-title{
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.category-wrap ul li{
    line-height: 35px;
    border-bottom: 1px solid #f1f1f1;
}
.category-wrap ul li:last-child{
    border-bottom: none;
}
.category-wrap ul li a{
    padding-left: 20px;
    position: relative;
    display: block;
    color:#555 !important;
}
.category-wrap ul li a::before{
    position: absolute;
    left: 0;
    content: "\f101";
    font-family: fontawesome;
    color: #296dc1;
    font-size: 16px;
    top: 0;
}
.related-post ul li{
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.related-post ul li:last-child{
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.post-img{
    float: left;
}
.post-info{
    margin-left: 95px;
}
.post-info a {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    line-height: 20px;
    color:#555 !important;
}
.post-info p{
    line-height: 20px;
    font-size: 12px;
    color: #296dc1;
}
.archive-wrap ul li{
    line-height: 35px;
}
.archive-wrap ul li a{
    display: block;
    color: #555!important;
}
.tags-wrap ul li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags-wrap ul li a{
    display: block;
    padding: 8px 20px;
    border: 1px solid #e1e1e1;
      color: #555!important;

}
.tags-wrap ul li a:hover{
    background: #296dc1;
    color: #fff !important;
}
.contextual-region .contextual .contextual-links a {
  color: #000 !important;
}
.navbar-brand.logo-biss img {
  width: 160px !important;
  height: 50px;
  margin-top: -10px;
}
/*-----------------------20.sidebar-style-here-----------------------*/

/*------------------------------------
21.Responsive
(mxn-width: 1024px)  media query
------------------------------------*/

@media (max-width: 1024px) {
 .video-a {
    position: absolute;
    right: 30px;
    top: 200px;
}



}

/*------------------------------------
21.Responsive
(min-width: 768px)  media query
------------------------------------*/
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu .other_dropdwn {
    margin-right: -122px;
  }
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  min-width: 190px;
  transition: all 500ms ease-in-out;
  background: #f6b60b;
}
}

@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    margin-right: -150px;
    display: block;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
}


/*------------------------------------
21.Responsive
(min-width: 1023px) and (max-width: 1100px)  media query
------------------------------------*/
@media (min-width: 1023px) and (max-width: 1100px) {
.shap_top{
    font-size:25px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}
.all-text {
    padding: 108px 50px;
}
.shap_bottom{
    font-size:16px;
    line-height: 30px;
    color: #fff;
}
.about-bottom-s {
    font-size: 19px;

}
}
  
  /*------------------------------------
22.Responsive
(max-width: 767px) media query
------------------------------------*/
@media (max-width: 767px) {
  
section {
    padding: 30px 0px !important;
}
section.bg-banner-img {
    padding-bottom: 100px !important;
}
.bg_blue_img{
  background-image: none; 
}
.row.book_now {
    margin-bottom: 20px;
}

h2.footer-top{
  margin-top: 30px;
}
ul.location{
  margin-top: 40px;
}
.bg_blue_img{
  background-image: none !important;
}
.attorneys-bottom{ margin-bottom: 38px !important; }

}
.col-md-8.text-right.Attorneys{text-align: left;}
.blog-body{margin-bottom: 15px;}
.bottom_service{position: relative;top: 0px;}
.mt_560{margin-top:0px;}
.who_we_area.col-md-6.col-sm-6.col-4pad.wow.fadeInUp{margin-top: 20px;}
.service-s{margin-bottom: 15px;}
.header_aera{
  padding: 30px 0px !important}
.button-banner {
    padding: 18px 30px !important;}
    .title h2{
      padding-top: 0px !important;
    }
.top-banner .button-banner{
      font-size: 12px !important;
    }
.service-1{
margin-bottom:20px;
}


    p.about_bottom_h.mt-50 {
    padding: 0px 10px;
}
.m-s{
  padding:0px !important;
}
button.navbar-toggle {
   background: #ffffff;
    border-color: #ffffff !important;
    color: #fff !important;
}
ol {
    list-style: none;
    padding: 0;
}
.comment-main-area{
  margin-left: 0px;
}
.col-xs-6.pr-0{
  width: 100%;
  padding-right: 15px !important;
}
.pr-0{padding-right: 15px !important;}

.pt-100 {
    padding-top:30px !important;
}
.timeline-badge{display: none;}
.contact-map{
  float: none;
}
.button-left {
    padding: 18px 30px !important;}
/*.main-h {
    font-size: 30px;
    line-height: 40px;}*/
  .py-70{
    padding:30px;
  }
  .title h1 {
    font-size: 30px !important;
  }
  .title-left h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  img.posi-r-img{
    bottom: 0;
  }
  .video-a {
    position: absolute;
    right: 20px !important;
    bottom: 10PX !important;
        top: auto !important;
}
.search-sidebar form{
  margin-top: 15px;
}
  .top-banner.wow.fadeInRight.text-right{
    text-align: center;
  }
  .top-banner.wow.fadeInRight.text-left {
    text-align: center;
}
  .navbar-toggle {
    top: 15px;
  }

  .header_aera .navbar-header {
    height: 80px;
  }
  .header_aera .navbar-header .navbar-brand {
    padding-top: 9px !important;
    padding-left: 15px !important;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    line-height: 45px;

  }
  .navbar-default .navbar-collapse.collapse.in, .navbar-default .navbar-form{
        background: #000 !important;
  }
.header_aera .navbar-collapse.collapse.in .navbar-nav.navbar-right li a:hover{

  background-color:#464646 !important;
}

  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    padding-left: 30px;
    background-color: transparent;
  }
  .slider_inner.camera_wrap {
    height: 500px !important;
  }

  



  /*------------------------------------
23.Responsive
(max-width: 480px) media query
------------------------------------*/
@media (max-width: 480px) {
  .bg-about-img{
    background-image: none;
  }
  .right_icone li{
    text-align: center; 
    background-image: none !important;
    padding-left: 0px;
  }
  .my_20{
    display: block;
    margin: 20px 0px;
    text-align: center;
  }
  .text-left {text-align: center !important;}
  .owl-stage-outer{text-align: center;}
  .py-70{
    padding: 5px;
  }
  .all-text{
    padding: 0px;
  }
  .owl-nav{
    display: none !important;
  }
  .owl-dots {
    display:block !important;
}
  .back-shap{
    margin-top: 10px;
    top: 0;
    padding: 70px 0px;
    background-size: contain;
}
.shap_bottom {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    padding-left:30px;
  
}
.about-right h1 {
    font-size:30px;
    padding-top:10px;
    }
    .about_top-400 {
    margin-top: 30px;
}

.banner-text {
    text-align: left;
    line-height: 30px;
}

.service-1{
margin-bottom: 15px;
}
.clip-polygon{
  clip-path:none !important;
  -webkit-clip-path:none !important;
}
.clip-right{
  clip-path:none !important;
  -webkit-clip-path:none !important;
      background: url(../images/s-left.png)center top no-repeat;
      margin-top: 15px;
}
.p-0 {
    padding: 15px !important;
}
.testimonial_area .testimonial_carosel .item .media {
    max-width: 112px !important;
    }
    .testimonial_area .testimonial_carosel .item .media .media-left{padding: 0px;}
.services-right{
  padding: 0px !important;
}
.shap_top  {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 600;
    padding-left:30px;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 4px;
}
.row.text-left.box-s{padding: 15px;}
.title-left.wow.fadeInUp{
  padding:15px;
}
img.posi-r-img{
  margin-top: 15px;
}
.row.about_row.py-40{
  margin-top: 0px;
}

.box-radius{height:400px;}
.box-radius img{height:400px;}



}

@media (max-width: 1024px) {
 .button-left {
    padding: 18px 35px;
  }

  .radius-50 {
    padding:12px 18px !important;
  }
  .title h1 {
    font-size: 30px;
  }
  .bg_blue_img {
    background-color: #01020b !important;
    background: url(../images/bg_video-c.png) right top no-repeat;
}

p.banner-text.wow.fadeInUp.main-h3 {
    width: 100% !important;
}
.region.region-footer-col-2 {
    padding-left: 15px;
}
}

@media (min-width: 767px) {
 .navbar-brand {
  
    padding: 25px 0px !important;
}


}
/*------------------------------------
24.Responsive End
(max-width: 480px) media query
------------------------------------*/
/* page not found */
#not-found-section {
    padding: 100px 0px ;
}

.not-found-body {
    max-width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #6871f4;
    padding: 10px 50px 30px 50px;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #6871f4;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #6871f4;
}

#not-found-section a.btn.btn-custom{
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    background-color: #6871f4;
    border-color: #6871f4 !important;
    color: #fff !important;
    transition: 0.7s;
}
#not-found-section a.btn.btn-custom:hover{
    background-color: #fff;
    border-color: #6871f4 !important;
    color: #333 !important;
    transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title {
    border: 2px solid #6871f4 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title {
    border: 2px solid #6871f4 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #6871f4 !important;
}
.not-title {
    border: 2px solid #6871f4 !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* end page not found */


/* User login form css*/

#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 90px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #6871f4;
}
.login-button input {
  padding: 5px 20px 5px 20px;
  background: #6871f4;
  border: 1px solid #6871f4;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
  padding: 5px 20px 5px 20px;
  background: #4a9a4f;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.who_we_area.title h1{
    width: 80%;
 }
 .bottom_service .title h1{
  font-size: 20px !important;
 }
@media only screen and (max-width: 610px) {
  .divTableCell, .divTableHead{
    display: block;
  }

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}


/* custom css */
.user-logged-in .header_aera{
  top: 120px;
}
.tabs.primary a{
  color: blue !important;
}
.toolbar-lining.clearfix  a{
      color: #000 !important;
}
p.banner-text.wow.fadeInUp.main-h3 {
    width: 65%;
}
#banner .service-1.green-after::after :last-child(2) {
    background-color: red !important;
}
.about-desc{
  width: 80%;
}
.mb-60 p, .tagline {
    width: 60%;
    margin: 0 auto;
}
h2#block-footer-menu {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer-menu ul.menu{
  margin-left: 0px;
}
.footer-menu .menu-item{
  padding-top: 0px;
}
.copyright{
  padding-top: 20px;
}

#banner{
  padding-top: 260px !important;
}
.top-space{
  padding:0px !important;
}

#banner .row.mt-100.p-0 div:nth-child(2) .service-1.green-after:after, #about .row.top_service div:nth-child(2) .service_banner.green-after:after{
    background-color: #ffb062 !important;
}
#banner .row.mt-100.p-0 div:nth-child(3) .service-1.green-after:after, #about .row.top_service div:nth-child(3) .service_banner.green-after:after {
    background-color: #e75b93 !important;
}
.service_banner h2{
  width: 50%;
}
.attorneys-bottom{
  margin-bottom: 95px;
}
#about .row div.bg_color:nth-child(2) {
      background: #a3a3ff !important;
}
#about .row div.bg_color:nth-child(3) {
      background: #b7b7ff !important;
}
.path-frontpage #about.bg_gradient_team {
    background: #fff !important;
    background-image:none !important;
}
.contact-form-box .col-md-12{
  padding: 0px ;
  margin-top: 0px;
  margin-bottom: 0px;
}
.col-md-6.form-type-email{
  padding-right: 15px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.col-md-6.form-type-textfield{
  padding-right: 0px;
  padding-left: 15px;
  margin-top: 0px;  
  margin-bottom: 0px;
}
div#edit-actions{
  width: 43%;
  margin-top: 30px;
}
.list-style-2 h4{
  padding-top: 25px !important;
}
.blog-bottom {
    margin-bottom: 50px;
}
/* pager css */

li.pager__item.pager__item--next,li.pager__item.pager__item--previous {
    display: none;
}
li.pager__item {
    padding: 0px !important;
}
.pager li > a, .pager li > span{
  border-radius: 0px;
  padding: 6px 18px;
  border: 1px solid #4a53dd;
  color: #000 !important;
}
.pager li > a:hover, .pager li > a:focus{
  background-color: transparent;
  color: #6871f4;
  
}
.pager__item.is-active a,.pager__item.is-active a:hover{
  background-color: #4a53dd;
  color: #fff !important;
  border: 1px solid #4a53dd !important;
}
.pager{
  margin-bottom: 50px;
}
.pager__item.pager__item--first span, .pager__item.pager__item--last span{
  color: #000;
}
.blog-details-img img{
  width: 100%;
}
/* End pager css */
/* comments section*/

.blog-details-area #edit-submit, .path-comment #edit-submit {
    background-color: #296dc1;
    font-size: 22px;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    border: 0;
    display: inline-block;
    margin: 20px 0px 0px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 6px 16px 8px;
    width: 50%;
 }   
 #edit-preview{
  display: none;
 }
 .comment-main{
  width: 80%;
 }
 article.contextual-region.comment.js-comment.by-node-author.by-viewer {
    border: 2px solid #f5f5f5;
}
.comment-main a{
  color: blue !important;
}
article.contextual-region.js-comment.by-viewer {
    border: 1px solid #f1f1f1 !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.comment-main img{
    width: 100px;
    border-radius: 100%;
}   
.comment-wrapper {
    padding-left: 5px;
} 
.blog-details-area article.contextual-region.profile {
    width: 20%;
}
/* .content{
    width: 80%;
    float: right;
    position: relative;
    bottom: 145px;
} */
.comment__submitted span{ 
    position: absolute;
    bottom: 170px;
    left: 150px;
    font-style: italic;
}
h2.title.comment-form__title {
    font-size: 23px;
    padding-top: 45px;
}
ul.inline, ul.links.inline {
    float: right;
}
.comment__content{
  margin-left: 105px !important;
}
.sewl-comments-meta {
    margin-left: 105px;
}
.comment-comment-form.comment-form{
  margin-top: 30px;
}
.path-comment .navbar.navbar-default{
  background-image: url(/yg_law_firm/themes/yg_law_firm/assets/images/service-banner-img.jpg) !important;
    height: 500px;
  }
.path-comment .comment-comment-form.comment-form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 565px;
}
.path-comment ol.comments {
    padding-left: 0px;
    top: 598px;
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 70px;
}
img.image-style-thumbnail {
    height: 100px !important;
    max-width: 100px;
}
.path-comment .our_footer_area{
  padding-top: 110px;
}
.row.mt-100 .timeline .mt-50:first-child{
  margin-top: 0px !important;
}
.row.mt-100 .timeline .mt-50 {
    margin-top: 661px !important;
}
ol.comments {
    padding-left: 0px;
}
.banner-caption h1{
    color: #fff;
    position: relative;
    top: 170px;
}
#banner-user{

}
.yg-business-login div#edit-actions{
      width: 43%;
    margin-top: 30px;
    margin: 0 auto;
}
.contextual-region.profile h4{
  color: #000;
}
.button-buttom a{
  color: #6871f4 !important;
}
@media (max-width: 767px) {
  
    .row.mt-100 .timeline .mt-50 {
     margin-top: 50px !important; 
}
.timeline-body img{
  width: 100%;
}
  .py-40{
    padding:0px;
}
.comment-main {
    width: 100%;
}
.comment__content {
     margin-left: 0px !important; 
}
.sewl-comments-meta h4{
  margin-top: 105px;
}
.sewl-comments-meta h4 span{
  margin-left: 0px;
}
.sewl-comments-meta {
    margin-left: 0px;
}
div#edit-actions{
  width: 260px;
}
.col-md-6.form-type-textfield{
  padding-left: 0px;
}
.col-md-6.form-type-email{
  padding-right: 0px;
}  
.mb-60 p, .tagline {
    width: 100%;
    margin: 0 auto;
}
}
@media (min-width: 992px) and (max-width: 1199px){
  h4.contact-info-section-title {
    padding-top: 460px !important;
}
}  
@media (min-width: 320px) and (max-width: 480px){
  .top-contact .btn.btn-default{
    width: 100% !important;
    padding: 18px 24px !important;
    font-size: 16px ! important;
}
.box-radius {
    height: 400px;
}
.box-radius img{
  height: 400px;
}
.box-radius{
  padding: 0px;
}
.bg_gradient_team .divTableCell{
  display: block;
}
}
@media (min-width: 481px) and (max-width:575px){
  
.box-radius {
    height: 460px;
}
.box-radius img{
  height: 460px;
}

.bg_gradient_team .divTableCell{
  display: block;
}
}  
@media (min-width: 576px) and (max-width:767px){
.attorneys-bottom{
  width: 50%;
}
.box-radius{
  padding: 0px;
}
}

.alert-wrapper .show {
  opacity: 1;
}
.alert-wrapper .alert {
  display: flex !important;
  align-items: center;
  position: relative;
}
.alert svg {
  height: 20px;
}
.alert div {
  margin-left: 20px;
}
.alert-dismissible .close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
}
.alert #message-status-title {
  font-size: 20px;
  margin-top: 0;
}
.login-button input {
  padding: 0;
}