{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set front_page = url('<front>') %}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_name or site_slogan %}
    <div class="site-branding__text navbar-brand logo-biss">
      {% if site_name %}
      <a class="logo-biss" href="{{ front_page }}" title="{{ 'Home'|t }}">
        {{ site_name}}
      </a>
      {% else %}
      {% if site_logo %}
        <a class="logo-biss" href="{{ front_page }}" title="{{ 'Home'|t }}">
          <img src="{{ site_logo }}" alt="Home" class="img-fluid">
        </a>
      {% endif %}
      {% endif %}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% elseif site_slogan and site_logo %}
    <a class="navbar-brand logo-biss" href="{{ front_page }}" title="{{ 'Home'|t }}">
      <img src="{{ site_logo }}" alt="Home" class="img-fluid">
    </a>
    <div class="site-branding__slogan">{{ site_slogan }}</div>
  {% else %}
    {% if site_logo %}
      <a class="navbar-brand logo-biss" href="{{ front_page }}" title="{{ 'Home'|t }}">
        <img src="{{ site_logo }}" alt="Home" class="img-fluid">
      </a>
    {% else %}
      <a class="navbar-brand logo-biss" href="{{ front_page }}" title="{{ 'Home'|t }}">
        {{ site_name}}
      </a>
    {% endif %}
  {% endif %}
{% endblock %}

